.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f8;
}

.editor_area {
    width: 40%;
    height: 60%;
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);

    @media(max-width: 900px) {
        width: 80%;
    }
}

.title {
    margin-top: 3.5%;
    text-align: center;
}

.register_form {
    width: 50%;
    padding: 20px;
    margin-left: 25%;

    @media(max-width: 900px) {
        margin-left: 10%;
    }
}

.register_form>button {
    cursor: pointer;
    padding: 5px;
    border: 0;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #a3c7e4;

    @media(max-width: 900px) {
        border-radius: 3px;
        width: 80px;
        margin-top: 4%;
        margin-left: 38%;
    }
}

.register_form>button:hover {
    background-color: #58acf1;
}

.register_form>input {
    padding: 3px;
}

.table_area {
    max-height: 65%;
    overflow: auto;
}

.products_table {
    width: 70%;
    padding: 1% 5%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.products_table>thead>tr>th {
    padding: 5px;
    border: 1px solid rgba(70, 70, 70, 0.11);
}

.products_table>tbody>tr:nth-child(odd) {
    background-color: #d6dfe0;
}

.products_table>tbody>tr>td {
    padding: 5px;
    text-align: center;
}

.products_table>tbody>tr>td>button {
    cursor: pointer;
    border-radius: 3px;
    margin: 3px;
    padding: 2px 5px;
    border: 1px solid rgb(196, 194, 194);
}

.products_table>tbody>tr>td>button {
    cursor: pointer;
    border-radius: 3px;
    margin: 3px;
    padding: 2px 5px;
    border: 1px solid rgb(196, 194, 194);
}

.products_table>tbody>tr>td>button>svg {
    width: 16px;
    height: 16px;
}

.products_table>tbody>tr>td>.edit_button:hover {
    background-color: #f1ee58;
}

.products_table>tbody>tr>td>.remove_button:hover {
    background-color: #f15d58;
}